
.about-me {
  /* background-color: #F0EDCF; */
  width: 100%;
  height: 100vh;

  overflow: hidden;
  margin: auto;
}

.about-me h1,h2,h3 {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.details-about-me {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  padding-top: 2rem;
  width: 100%;
  height: 100%;

}

.frontend-dev {

  padding: 1rem;
  margin: auto;
  width: 500px;
  height: 100%;
  padding-top: 1rem;

  border: 1px solid;
  border-radius: 7%;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
}

.backend-dev {

  padding: 1rem;
  margin: auto;
  width: 500px;
  height: 100%;  

  border: 1px solid;
  border-radius: 7%;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
}

.development-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  margin-top: 1rem;

  font-size: 20px;
}
.development-container svg {
  width: 35px;
  height: 35px;
  padding-top: 3px;

}

.items {
  display: flex;
  justify-content: center;
  gap: 1rem;

}

@media (max-width: 1130px) {

  .development-container {
    font-size: 18px;
  }

  .frontend-dev {
    width: 400px;
  }
  
  .backend-dev {
    width: 400px;
  }
}

@media (max-width: 992px) {
  .about-me {
    height: 120vh;
  }
}

@media (max-width: 576px) {
  .development-container {
    font-size: 15px;    
  }

  .frontend-dev {
    width: 400px;
  }
  
  .backend-dev {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .about-me {
    height: 140vh;
  }

  .development-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .frontend-dev {
    width: 320px;
  }
  
  .backend-dev {
    width: 320px;
  }
}