
html {
    scroll-behavior: smooth;
}

.progress-toTop {
    width: 60px;
    height: 60px;
    /* background-color: #03cc65; */
    border-radius: 50%;
    overflow: hidden;
    position: fixed;
    right: 15px;
    bottom: 20px;
    
    /* display: grid; */
    display: none;
    place-items: center;
    cursor: pointer;
    z-index: 999;    
}

.toTop {
    width: 45px;
    height: 45px;
    background-color: white;

    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);

}

.toTop button {
    
}