
.footer {

    background: linear-gradient(300deg, #40A2D8, #0B60B0, #F0EDCF); 
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;

}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
.footer-btns {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;  
  margin-bottom: 10px;
}

.footer button {

    border-radius: 50%;
    /* text-shadow: 0px 0px 5px rgba(0, 0, 0, 1); */

}

.footer button:hover {

  background-color: rgb(226, 226, 226);
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
}