
* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: ; */

}

.gradient-background {
    
    background: linear-gradient(300deg, #40A2D8, #0B60B0, #F0EDCF); 
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;

    height: 100vh;
}
  
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

h1,a {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


.navbar-toggler {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.collapse {
    position: absolute;
    left: 35%;
    font-size: 1.5rem;

    /* border-radius: 10px;
    backdrop-filter: blur(10px); */
}

/* .navbar-collapse {
    display: block;
    position: absolute;
    right: 2rem;
    top: 60px;

    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: #40A2D8;
    
} */

.collapse a {
    /* display: flex; */
    /* justify-content: left; */
}

/* .toggele-collapse {
    width: 300px;
    height: 300px;

    position: absolute;
 
    font-size: 1.5rem;

    background-color: red;
} */

.collapse a:hover {
    color: white;    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    gap: 5rem;
    padding-bottom: 8rem;

}

.img-container {
    
}

img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: none;
}

.details-container {
    /* display: flexbox; */
}

.details-container button {
    
}

.links-container {
    
}

.container-fluid {
    /* font-size: 30px; */
}

.sub-container-fluid {
    display: flex;
}

.logo {
    
}

.image-profile {
    border-radius: 50%;
}

.dark-mode {
    margin-right: 15px;
    
    color: var(--white-color);
    cursor: pointer;
    transition: color .4s;
}

@media (max-width: 991px) {
    .navbar-toggler {
        /* color: red;
        background-color: red; */
    }

    .collapse {
        position: absolute;
        left: 5%;
        top: 100%;
    
    }
}

@media (max-width: 768px) {
    .img-container {
        display: flex;
        justify-content: center;

        width: 320px;
        height: 320px

    }
}

@media (max-width: 576px) {
    .img-container {
        display: flex;
        justify-content: center;

        width: 300px; 
        height: 300px;

    }

  .links-container{
    margin-top: 8px;
  }

  .details-title-container h3,h5 {
    
}
}

@media (max-width: 465px) {
    .navbar-brand {
        
    }

    .navbar-toggler {
        margin: 0;
        padding: 0;
    }

    .dark-mode {
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 380px) {
    .img-container {
        display: flex;
        justify-content: center;

        width: 270px;
        height: 270px

    }
}
